################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Saper/.vs/Saper/v17
/Saper/.vs/Saper/FileContentIndex
