################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/x64/Debug
/MinesweeperLogicalLib/x64/Debug
/MineswepperLogicalLibUnitTests/x64/Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
/MineswepperMenuLibrary/x64/Debug
/.vs
/MineswepperInterfaceUnitTests/x64/Debug
/x64/Debug
/MineswepperInterfaceLibrary/x64/Debug
/ConsoleApp/Release
/ConsoleApp/x64/Release
/MinesweeperLogicalLib/Release
/MinesweeperLogicalLib/x64/Release
/MineswepperInterfaceLibrary/Release
/MineswepperInterfaceLibrary/x64/Release
/Release
/x64/Release
